@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --main-dark-color: #0A0519; /* background */
    --secondary-dark-color: #2A2343; /* border, hover */
    --third-dark-color: #17122A;
    --x-player-color: #1892EA;
    --o-player-color: #A737FF;
}

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    box-sizing: border-box;
    user-select: none;

    color: white;
}

main {
    background-color: var(--main-dark-color);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#header {
    display: flex;
    width: 235px;
    justify-content: space-between;
    margin-bottom: 30px;
}

#header .player {
    background: var(--main-dark-color);
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 12px;
    border: solid 4px var(--main-dark-color);
    opacity: 0.5;
    transition: 0.3s;
}

#header .player:hover {
    border: solid 4px var(--secondary-dark-color);
}

#header .player-active {
    opacity: 1;
    border: solid 4px var(--secondary-dark-color);
}

#header #xPlayerDisplay {
    color: var(--x-player-color);
}

#header #oPlayerDisplay {
    color: var(--o-player-color);
}

#board {
    display: grid;
    grid-template-columns: repeat(3, 70px);
    grid-template-rows: repeat(3, 70px);
    gap: 12px;
}

#board .cell {
    background-color: var(--third-dark-color);
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s background;
}

#board .cell:hover {
    background-color: var(--secondary-dark-color);
}

#restartBtn {
    margin-top: 30px;
    width: 235px;
    background-color: var(--third-dark-color);
    padding-top: 8px;
    padding-bottom: 8px;
    border: none;
    border-radius: 12px;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s background;
}

#restartBtn:hover {
    background-color: var(--secondary-dark-color);
}