@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

:root {
    --main-bg: #F7F5EB;   /* Soft beige */
    --card-bg: #FFF9F0;   /* Slightly lighter panel */
    --text-color: #3E442B; /* Deep earthy brown */
    --accent: #74A57F;    /* Tropical green */
    --btn-bg: #E3DCC2;    /* Soft sand */
    --btn-hover: #A3C9A8; /* Light jungle green */
    --shadow: rgba(0, 0, 0, 0.1);
}

* {
    font-family: "Poppins", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: var(--main-bg);
    color: var(--text-color);
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    background-color: var(--card-bg);
    width: 450px;
    padding: 32px;
    box-shadow: 0px 4px 12px var(--shadow);
    border-radius: 16px;
    text-align: center;
    border: 2px solid var(--accent);
}

.main-header {
    background: var(--accent);
    padding: 12px;
    border-radius: 12px;
    font-size: 24px;
    color: #fff;
    font-weight: 700;
}

.results-display {
    display: flex;
    justify-content: space-between;
    padding: 24px;
    align-items: center;
    font-size: 48px;
}

.versus-text {
    font-size: 28px;
    color: var(--accent);
    font-weight: bold;
}

.score-board {
    display: flex;
    justify-content: space-around;
    background: var(--btn-bg);
    padding: 12px;
    border-radius: 8px;
    margin: 16px 0;
}

.score-board h4 {
    font-weight: 600;
}

.divider-vertical {
    width: 2px;
    background: var(--accent);
    height: 20px;
}

.options-choice {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
}

.option-wrapper {
    text-align: center;
}

.choice-btn {
    width: 100px;
    height: 70px;
    border-radius: 12px;
    background: var(--btn-bg);
    border: solid 2px var(--accent);
    font-size: 32px;
    cursor: pointer;
    transition: 0.3s;
    color: var(--text-color);
    box-shadow: 0 4px 8px var(--shadow);
}

.choice-btn:hover {
    background-color: var(--btn-hover);
    color: #fff;
    transform: scale(1.05);
}

.choice-label {
    margin-top: 8px;
    font-weight: 600;
}

@keyframes player-shake-result {
    from {
        bottom: 5px;
        rotate: -5deg;
    } 
    
    to {
        bottom: -5px;
        rotate: 5deg;
    }
}

.player-choice-text-anim{
    animation: player-shake-result 0.3s ease-in-out infinite alternate;
}

.player-choice-text {
    transform: rotate(90deg) rotateY(180deg);
}

@keyframes cpu-shake-result {
    from {
        bottom: 5px;
        rotate: 5deg;
    } 
    
    to {
        bottom: -5px;
        rotate: -5deg;
    }
}

.cpu-choice-text-anim {
    animation: cpu-shake-result 0.3s ease-in-out infinite alternate;
}

.cpu-choice-text {
    transform: rotate(-90deg);
}
